
<div class="container">
    <h1 class="main-title text-center">Crawler</h1>
    <div class="form-group">
        <label for="url">product url:</label>
        <input type="text" class="form-control url-input" id="url">
        <button type="submit" id="submitInputButton" type="button" class="btn btn-primary">GET</button>
    </div>
    <ul class="list-group">
        <li class="list-group-item">New <span class="badge">150 UAH</span></li>
        <li class="list-group-item">Deleted <span class="badge">250 UAH</span></li>
        <li class="list-group-item">Warnings <span class="badge">350 UAH</span></li>
    </ul>
</div>


